<div class="big-wrapper">
  <div mat-dialog-content class="wrapper">
    <h1 mat-dialog-title>Neuer Eintrag (Leipzig)</h1>
    <form>
      <div class="row">
        <mat-form-field appearance="fill">
          <mat-label>Datum</mat-label>
          <input matInput [matDatepicker]="picker" />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill" *ngFor="let field of firstRow">
          <mat-label>{{ field.name }} </mat-label>
          <mat-select>
            <mat-option *ngFor="let option of field.options" [value]="option">
              {{ option }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field appearance="fill" *ngFor="let field of secondRow">
          <mat-label>{{ field.name }} </mat-label>
          <mat-select>
            <mat-option *ngFor="let option of field.options" [value]="option">
              {{ option }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field appearance="fill" *ngFor="let field of thirdRow">
          <mat-label>{{ field.name }} </mat-label>
          <mat-select>
            <mat-option *ngFor="let option of field.options" [value]="option">
              {{ option }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </form>
  </div>

  <div mat-dialog-actions>
    <button mat-button (click)="cancel()">Cancel</button>
    <button mat-button (click)="save()" cdkFocusInitial>Save</button>
  </div>
</div>
