<div class="big-wrapper" >
<div mat-dialog-content class="wrapper">
    <h1 mat-dialog-title>New Case</h1>
    volljarig: string,
    geschlecht: string,
    wohnsituation: string,
    aufenthaltstatus: string,
    krankenversicherung: string,
    notvallv: string,
    medivers: string,
    fachbereich: string,

    <form>
      <mat-form-field appearance="fill">
        <mat-label>Datum</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Volljährig </mat-label>
        <mat-select>
          <mat-option *ngFor="let option of optionAges" [value]="option">
            {{option}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Geschlecht </mat-label>
        <mat-select>
          <mat-option *ngFor="let option of optionSex" [value]="option">
            {{option}}
          </mat-option>
        </mat-select>
      </mat-form-field>



    </form>
    </div>

  <div mat-dialog-actions>
    <button mat-button (click)="cancel()">Cancel</button>
    <button mat-button (click)="save()" cdkFocusInitial>Save</button>
  </div>

</div>
